body , div, button {
    display: flex;
    justify-content: center;
    margin: 1px;
}

.case, .col {
    flex-direction: column;
    gap: 1px;
}

.case {
    border: 1px solid black;
    border-radius: 4px;
    padding: 8px;
    width: 640px;
    flex: 0 1 auto;
    margin: 32px;
}

#display {
    border: 1px solid black;
    border-radius: 4px;
    justify-content: flex-end;
    padding-top: 7%;
    padding-bottom:7%;
    padding-right: 9%;
}

#calculation { font-size: 120%;}

.buttons {
    justify-content: space-evenly;
}

button, .col, .blank{
    flex: 1 1 auto;
    font-size: 95%;
}

button, .blank {
    padding-top: 40%;
    padding-bottom: 40%;
}

button {
    border: 1px solid black;
    border-radius: 4px;
    transition: all 0.25s ease;
}

.buttons > .col > button.pressed {
    background-color: #555555;
    transition: all 0.25s ease;
}

.col > .blank {
    color: white;
    border: 1px solid white;
    font-size: 90%;
}

.col.one, .col.three {
    justify-content: flex-start;
}

.col.four > button {
    background-color: #aaaaaa;
}

.rm {
    flex-direction: column;
    gap:2px;
}

#clear, #equals, #del {
    background-color: #aaaaaa;
}

#clear, #del {
    padding-top: 31%;
    padding-bottom: 31%;
}

#equals {
    padding-top: 75%;
    padding-bottom: 75%;
}

#clear.pressed, #del.pressed, #equals.pressed {
    background-color: #555555;
    transition: all 0.25s ease;
}